CMakeFiles/
CMakeCache.txt
Makefile
cmake_*.cmake
install_manifest.txt
*.a
*.cbp
*.d
*.dylib
*.gcno
*.gcda
*.user
*.o
*.reject
*.so
*.snap*
*.xlog*
*~
.gdb_history
mariadb-connector-c-prefix/
mariadb-connector-c/include/mariadb_version.h
mariadb-connector-c/unittest/libmariadb/fingerprint.list
mariadb-connector-c/unittest/libmariadb/ssl.c
lib/
