Source: tarantool-mysql
Priority: optional
Section: database
Maintainer: Roman Tsisyk <roman@tarantool.org>
Build-Depends: debhelper (>= 9), cdbs,
               cmake (>= 2.8),
               tarantool-dev (>= 1.6.8.0),
               libmysqlclient-dev (>= 5.1.0)
Standards-Version: 3.9.6
Homepage: https://github.com/tarantool/mysql
Vcs-Git: git://github.com/tarantool/mysql.git
Vcs-Browser: https://github.com/tarantool/mysql

Package: tarantool-mysql
Architecture: i386 amd64 armhf arm64
Depends: tarantool (>= 1.6.8.0), ${shlibs:Depends}, ${misc:Depends}
Pre-Depends: ${misc:Pre-Depends}
Description: MySQL connector for Tarantool
 A MySQL connector for Tarantool.
